@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text2{
    background-color: gray;
    text-align: center;
    padding: 15px 5px;
    font-family: 'Lato', sans-serif;
}

.contact{
    text-align: center;
    color: orangered;
    font-size: 18px;
}

.contact span{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}