@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

#head a{
    text-decoration: none;
    color: #D3D3D3;
    font-size: 30px;
    font-family: ;
}
.image-top{
background-image: url("../images/pexels-divyesh-maheshwari-3661650.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover; 
width: 100%;
height: 750px;
filter: brightness(50%);
}

#wlcm-section{
    columns: white;
    position: absolute;
    top: 10%;
    margin-left: 3%;
    margin-right: 4%;
    
}

.hello{
    font-family: 'Lato', sans-serif;
    color:#E65242;
}

.a-title {
    font-size: 50px;
    line-height: 1.4;
    color:#E65242;
    font-weight: 900;
    font-family: 'Alfa Slab One', cursive;
    
}
p.text {
    font-size: 17px;
    padding: 5px;
    color:#E65242;
    line-height: 1.4;
    border: 2px solid #D3D3D3;
}

.date{
    font-size: 25px;
    color: #D3D3D3;
    font-weight: 700;
    margin-bottom: 2px;
}

.location{
    font-size: 22px;
    color: #D3D3D3;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
}

.p-title{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 58px;
    padding-top: 40px;
}

hr {
    width: 48px;
    background-color: #E65242;
    height: 2px;
    border: none;
    margin-bottom: 40px;
}

.programs-list{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background-color: rgba(117, 116, 116, 0.5);
    border: 1px solid rgba(0,0,0,0.5);
    z-index: 2;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 18px;
    border-radius: 2px;
}

.p-element{
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 20px;
}

.p-name{
    color:#E65242;
}

#programs{
    background-image: url("../images/pexels-henry-&-co-1171480.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 750px;
}

.fas{
    font-size: 30px;
}
.global{
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 2px;
    background-color: #E65242;
    color: white;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.btn{
    display: flex;
    justify-content: center;
}